/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
  }
  
  .navbar .logo {
    margin-left: 10%;
    width: 230px;
  }
  
  .navbar .nav-links {
    display: flex;
    justify-content: flex-end; /* Alinha os links à direita */
    align-items: center;
    flex: 1; /* Faz com que os links ocupem o espaço disponível restante */
  }
  
  .navbar .nav-links a {
    margin-left: 40px; /* Adiciona um espaçamento entre cada link */
  }
  
  .navbar .login-button {
    width: 140px;
    margin-left: 2%;
    margin-right: 7%;
  }
  .navbar .menu {
    display: none; /* O ícone do menu está escondido por padrão */
}

/* O ícone do menu será mostrado quando a largura da janela for 768px ou menor */
@media screen and (max-width: 768px) {
    .navbar .logo {
        display: none; /* Esconde o logo */
    }

    .navbar .menu {
        display: block; /* Mostra o ícone do menu */
    }

    .navbar .nav-links {
        display: none; /* Esconde os links de navegação */
    }

    .navbar .nav-links.open {
        display: block; /* Mostra os links de navegação quando o menu está aberto */
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        height: 30vh;
        background: rgba(0, 0, 0, 0.4); /* Fundo preto transparente */
        backdrop-filter: blur(10px); /* Efeito de desfoque */
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .navbar .nav-links.open a {
        margin-left: 0;
        display: block;
        margin-bottom: 20px;
    }
}