.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: #0c141f;
    color: #fff;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 10%;
    background: linear-gradient(91.31deg, #FF31C0 2.74%, #e76cff 71.87%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .faqList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  
  .faqItem {
    background-color: #101a27;
    padding: 20px;
    border-radius: 10px;
  }
  
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .plusButton {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #385e8e;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  .answer {
    margin-top: 10px;
    color: #919191;
  }
  